### Abstract

The Movie Database (TMDb) is a community built movie and TV database. Every piece of data has been added by our amazing community dating back to 2008. Here, our aim is to extract movie data and reformat it to fit in a Conceptual database schema

### Data Description

The dataset is from Kaggle website. It contains two files. one is tmdb_5000_movies which contains 20 columns and 4803 records and other one is tmdb_5000_credits which contains 4 columns and 4803 records.
Below is the link tot the dataset from Kaggle

#### https://www.kaggle.com/tmdb/tmdb-movie-metadata

In [1]:
#There are two datasets 
#Below are the columns in the tmdb_5000_movies dataset:
#•	budget #Total cost of the movie in which it is made.
#•	genre #Gives information about movie belongs in which all genre
#•	Id #Movie Id which is unique
#•	keywords #Keywords which define movie
#•	original_language #Original language of the movie
#•	overview #Overview of the movie
#•	popularity #Popularity of the movie
#•	production_companies #Company which has produced this movie
#•	production_countries #Countries in which movie is produced
#•	release_date #Date on which movie is released
#•	revenue #Revenue generated by the movie
#•	runtime #Movie’s runtime
#•	tagline #Movie’s tagline
#•	title #Title of the movie
#•	vote_average #Average number of votes movie received
#•	vote_count #Total number of votes movie received

#Below are the columns in the tmdb_5000_credits dataset:
#•	movie_id #Id of the movie
#•	title #Movie title
#•	Cast #Cast of the movie
#•	crew #Crew of the movie

### Importing libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
import json
from pandas.io.json import json_normalize

### Reading data from csv

In [3]:
movies_df = pd.read_csv('tmdb_5000_movies.csv')

### Checking output of the data

In [4]:
movies_df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

### Checking shape of data

In [5]:
movies_df.shape

(4803, 20)

In [6]:
movies_df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

### Checking data info -  data type and total number of records in each column

In [7]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
budget                  4803 non-null int64
genres                  4803 non-null object
homepage                1712 non-null object
id                      4803 non-null int64
keywords                4803 non-null object
original_language       4803 non-null object
original_title          4803 non-null object
overview                4800 non-null object
popularity              4803 non-null float64
production_companies    4803 non-null object
production_countries    4803 non-null object
release_date            4802 non-null object
revenue                 4803 non-null int64
runtime                 4801 non-null float64
spoken_languages        4803 non-null object
status                  4803 non-null object
tagline                 3959 non-null object
title                   4803 non-null object
vote_average            4803 non-null float64
vote_count              4803 non-null int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.5+ KB

### Checking for null values

In [8]:
movies_df.isnull().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
dtype: int64

### As homepage contains 3091 null values, removing homepage column

In [9]:
del movies_df['homepage']

#### Checking output - As we can see below homepage column is removed

In [10]:
movies_df.head(2)

,budget,genres,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

### Coverting JSON columns to DataFrame

The following example shows a possible JSON representation describing a person.

```json
{
  "firstName": "John",
  "lastName": "Smith",
  "isAlive": true,
  "age": 27,
  "address": {
    "streetAddress": "21 2nd Street",
    "city": "New York",
    "state": "NY",
    "postalCode": "10021-3100"
  },
  "phoneNumbers": [
    {
      "type": "home",
      "number": "212 555-1234"
    },
    {
      "type": "office",
      "number": "646 555-4567"
    },
    {
      "type": "mobile",
      "number": "123 456-7890"
    }
  ],
  "children": [],
  "spouse": null
}
```

#### Below are the steps to convert json object to dataframe

#### First converting genre json column into dataframe

#### step 1 : Create a empty list. Below I have created empty list  to collect genre data into "genre_column_list"

In [11]:
genre_column_list =[]

#### step 2 : Appending genre json data into python list "genre_column_list". Using json.loads() method to parse data

In [12]:
for each in movies_df['genres']:
    genre_column_list.append(json.loads(each))

#### Checking result in genre_column_list by displaying 5 records

In [13]:
genre_column_list[:5]

[[{'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'},
  {'id': 14, 'name': 'Fantasy'},
  {'id': 878, 'name': 'Science Fiction'}],
 [{'id': 12, 'name': 'Adventure'},
  {'id': 14, 'name': 'Fantasy'},
  {'id': 28, 'name': 'Action'}],
 [{'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'},
  {'id': 80, 'name': 'Crime'}],
 [{'id': 28, 'name': 'Action'},
  {'id': 80, 'name': 'Crime'},
  {'id': 18, 'name': 'Drama'},
  {'id': 53, 'name': 'Thriller'}],
 [{'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'},
  {'id': 878, 'name': 'Science Fiction'}]]

#### step 3 : Create empty list to collect movieid

In [14]:
movieid_genre_list = []

#### step 4 : Here, we are using built-in function enumerate which adds a counter to genere_column_list and returns enumerat object.
#### This enumerate object is used directly in for loop which returns a list of movieid's

In [15]:
for i,x in enumerate(genre_column_list):
    for y in x:
        movieid_genre_list.append(movies_df['id'][i])

#### Below I am displaying 5 records in movieid_genre_list

In [16]:
movieid_genre_list[:5]

[19995, 19995, 19995, 19995, 285]

#### step 5 : Creating genre_list and genre_id_list to collect genre id and name which are the records of genre column

In [17]:
genre_list = []
genre_id_list=[]

#### step 6 : Using for loop to append name and id in genre_list and genre_id_list respectively

In [18]:
for x in genre_column_list:
    for y in x:
        genre_id_list.append(y['id'])
        genre_list.append(y['name'])

#### Displaying 5 records in genre_list

In [19]:
genre_list[:5]

['Action', 'Adventure', 'Fantasy', 'Science Fiction', 'Adventure']

In [20]:
genre_id_list[:5]

[28, 12, 14, 878, 12]

#### step 6 : Creating dataframe using pandas library which contains movie_id, genre_id and genre

In [21]:
genre_df = pd.DataFrame(genre_list, columns=['Genre'])
genre_df['ID'] = pd.Series(genre_id_list)
genre_df['Movie_ID'] = pd.Series(movieid_genre_list)
genre_df = genre_df[['Movie_ID','ID', 'Genre']]

#### Below is the output displaying few records

In [22]:
genre_df.head()

   Movie_ID   ID            Genre
0     19995   28           Action
1     19995   12        Adventure
2     19995   14          Fantasy
3     19995  878  Science Fiction
4       285   12        Adventure

#### Similarly, Converting production companies column which contains json object into dataframe. Here, Also, we will perform same steps which are mentioned above.

#### step 1 : Create empty list to hold productioncomp data

In [23]:
productioncomp_column_list = []

#### step 2 : parsing json object into python list using json.loads() method

In [24]:
for each in movies_df['production_companies']:
    productioncomp_column_list.append(json.loads(each))

#### Displaying ouput by showing 5 records

In [25]:
productioncomp_column_list[:5]

[[{'id': 289, 'name': 'Ingenious Film Partners'},
  {'id': 306, 'name': 'Twentieth Century Fox Film Corporation'},
  {'id': 444, 'name': 'Dune Entertainment'},
  {'id': 574, 'name': 'Lightstorm Entertainment'}],
 [{'id': 2, 'name': 'Walt Disney Pictures'},
  {'id': 130, 'name': 'Jerry Bruckheimer Films'},
  {'id': 19936, 'name': 'Second Mate Productions'}],
 [{'id': 5, 'name': 'Columbia Pictures'},
  {'id': 10761, 'name': 'Danjaq'},
  {'id': 69434, 'name': 'B24'}],
 [{'id': 923, 'name': 'Legendary Pictures'},
  {'id': 6194, 'name': 'Warner Bros.'},
  {'id': 9993, 'name': 'DC Entertainment'},
  {'id': 9996, 'name': 'Syncopy'}],
 [{'id': 2, 'name': 'Walt Disney Pictures'}]]

#### step 3 : Creating two empty list to hold name and id

In [26]:
company_id_list = []
company_list=[]

#### step 4 : Using for loop extracting id and name and storing it in company_id_list and company_list

In [27]:
for x in productioncomp_column_list:
    for y in x:
        company_id_list.append(y['id'])
        company_list.append(y['name'])

#### step 5 : Creating empyt list to store movieid

In [28]:
movieid_prodcomp_list = []

#### step 6 : Here, we are using built-in function enumerate which adds a counter to productioncomp_column_list and returns enumerate object.
#### This enumerate object is used directly in for loop which returns a list of movieid's

In [29]:
for i, x in enumerate(productioncomp_column_list):
    for y in x:
        movieid_prodcomp_list.append(movies_df['id'][i])

#### Displaying results

In [30]:
movieid_prodcomp_list[:10]

[19995, 19995, 19995, 19995, 285, 285, 285, 206647, 206647, 206647]

#### step 7 : Creating dataframe for production companies

In [31]:
prod_companies_df = pd.DataFrame(movieid_prodcomp_list, columns = ['Movie_ID'])
prod_companies_df['ID'] = pd.Series(company_id_list)
prod_companies_df['Company'] = pd.Series(company_list)

#### Displaying result

In [32]:
prod_companies_df[:10]

   Movie_ID     ID                                 Company
0     19995    289                 Ingenious Film Partners
1     19995    306  Twentieth Century Fox Film Corporation
2     19995    444                      Dune Entertainment
3     19995    574                Lightstorm Entertainment
4       285      2                    Walt Disney Pictures
5       285    130                 Jerry Bruckheimer Films
6       285  19936                 Second Mate Productions
7    206647      5                       Columbia Pictures
8    206647  10761                                  Danjaq
9    206647  69434                                     B24

#### Reading data from second database cast

This dataset contains information about cast of the movie

#### Reading tmdb_5000_credits.csv file using pandas library

In [33]:
cast_xl_df = pd.read_csv('tmdb_5000_credits.csv')

#### Displaying output

In [34]:
cast_xl_df.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

#### Similarly, lets extract "cast" json object into dataframe

#### Step 1 - Create Empty list to store cast column

In [35]:
cast_column_list = []

#### Step 2 - Appending cast json data into python list "cast_list". Using json.loads() method to parse data

In [36]:
for each in cast_xl_df['cast']:
    cast_column_list.append(json.loads(each))

#### Checking result in genre_column_list by displaying 5 records

In [37]:
cast_column_list[:5]

[[{'cast_id': 242,
   'character': 'Jake Sully',
   'credit_id': '5602a8a7c3a3685532001c9a',
   'gender': 2,
   'id': 65731,
   'name': 'Sam Worthington',
   'order': 0},
  {'cast_id': 3,
   'character': 'Neytiri',
   'credit_id': '52fe48009251416c750ac9cb',
   'gender': 1,
   'id': 8691,
   'name': 'Zoe Saldana',
   'order': 1},
  {'cast_id': 25,
   'character': 'Dr. Grace Augustine',
   'credit_id': '52fe48009251416c750aca39',
   'gender': 1,
   'id': 10205,
   'name': 'Sigourney Weaver',
   'order': 2},
  {'cast_id': 4,
   'character': 'Col. Quaritch',
   'credit_id': '52fe48009251416c750ac9cf',
   'gender': 2,
   'id': 32747,
   'name': 'Stephen Lang',
   'order': 3},
  {'cast_id': 5,
   'character': 'Trudy Chacon',
   'credit_id': '52fe48009251416c750ac9d3',
   'gender': 1,
   'id': 17647,
   'name': 'Michelle Rodriguez',
   'order': 4},
  {'cast_id': 8,
   'character': 'Selfridge',
   'credit_id': '52fe48009251416c750ac9e1',
   'gender': 2,
   'id': 1771,
   'name': 'Giovanni Ribisi',
   'order': 5},
  {'cast_id': 7,
   'character': 'Norm Spellman',
   'credit_id': '52fe48009251416c750ac9dd',
   'gender': 2,
   'id': 59231,
   'name': 'Joel David Moore',
   'order': 6},
  {'cast_id': 9,
   'character': 'Moat',
   'credit_id': '52fe48009251416c750ac9e5',
   'gender': 1,
   'id': 30485,
   'name': 'CCH Pounder',
   'order': 7},
  {'cast_id': 11,
   'character': 'Eytukan',
   'credit_id': '52fe48009251416c750ac9ed',
   'gender': 2,
   'id': 15853,
   'name': 'Wes Studi',
   'order': 8},
  {'cast_id': 10,
   'character': "Tsu'Tey",
   'credit_id': '52fe48009251416c750ac9e9',
   'gender': 2,
   'id': 10964,
   'name': 'Laz Alonso',
   'order': 9},
  {'cast_id': 12,
   'character': 'Dr. Max Patel',
   'credit_id': '52fe48009251416c750ac9f1',
   'gender': 2,
   'id': 95697,
   'name': 'Dileep Rao',
   'order': 10},
  {'cast_id': 13,
   'character': 'Lyle Wainfleet',
   'credit_id': '52fe48009251416c750ac9f5',
   'gender': 2,
   'id': 98215,
   'name': 'Matt Gerald',
   'order': 11},
  {'cast_id': 32,
   'character': 'Private Fike',
   'credit_id': '52fe48009251416c750aca5b',
   'gender': 2,
   'id': 154153,
   'name': 'Sean Anthony Moran',
   'order': 12},
  {'cast_id': 33,
   'character': 'Cryo Vault Med Tech',
   'credit_id': '52fe48009251416c750aca5f',
   'gender': 2,
   'id': 397312,
   'name': 'Jason Whyte',
   'order': 13},
  {'cast_id': 34,
   'character': 'Venture Star Crew Chief',
   'credit_id': '52fe48009251416c750aca63',
   'gender': 2,
   'id': 42317,
   'name': 'Scott Lawrence',
   'order': 14},
  {'cast_id': 35,
   'character': 'Lock Up Trooper',
   'credit_id': '52fe48009251416c750aca67',
   'gender': 2,
   'id': 986734,
   'name': 'Kelly Kilgour',
   'order': 15},
  {'cast_id': 36,
   'character': 'Shuttle Pilot',
   'credit_id': '52fe48009251416c750aca6b',
   'gender': 0,
   'id': 1207227,
   'name': 'James Patrick Pitt',
   'order': 16},
  {'cast_id': 37,
   'character': 'Shuttle Co-Pilot',
   'credit_id': '52fe48009251416c750aca6f',
   'gender': 0,
   'id': 1180936,
   'name': 'Sean Patrick Murphy',
   'order': 17},
  {'cast_id': 38,
   'character': 'Shuttle Crew Chief',
   'credit_id': '52fe48009251416c750aca73',
   'gender': 2,
   'id': 1019578,
   'name': 'Peter Dillon',
   'order': 18},
  {'cast_id': 39,
   'character': 'Tractor Operator / Troupe',
   'credit_id': '52fe48009251416c750aca77',
   'gender': 0,
   'id': 91443,
   'name': 'Kevin Dorman',
   'order': 19},
  {'cast_id': 40,
   'character': 'Dragon Gunship Pilot',
   'credit_id': '52fe48009251416c750aca7b',
   'gender': 2,
   'id': 173391,
   'name': 'Kelson Henderson',
   'order': 20},
  {'cast_id': 41,
   'character': 'Dragon Gunship Gunner',
   'credit_id': '52fe48009251416c750aca7f',
   'gender': 0,
   'id': 1207236,
   'name': 'David Van Horn',
   'order': 21},
  {'cast_id': 42,
   'character': 'Dragon Gunship Navigator',
   'credit_id': '52fe48009251416c750aca83',
   'gender': 0,
   'id': 215913,
   'name': 'Jacob Tomuri',
   'order': 22},
  {'cast_id': 43,
   'character': 'Suit #1',
   'credit_id': '52fe48009251416c750aca87',
   'gender': 0,
   'id': 143206,
   'name': 'Michael Blain-Rozgay',
   'order': 23},
  {'cast_id': 44,
   'character': 'Suit #2',
   'credit_id': '52fe48009251416c750aca8b',
   'gender': 2,
   'id': 169676,
   'name': 'Jon Curry',
   'order': 24},
  {'cast_id': 46,
   'character': 'Ambient Room Tech',
   'credit_id': '52fe48009251416c750aca8f',
   'gender': 0,
   'id': 1048610,
   'name': 'Luke Hawker',
   'order': 25},
  {'cast_id': 47,
   'character': 'Ambient Room Tech / Troupe',
   'credit_id': '52fe48009251416c750aca93',
   'gender': 0,
   'id': 42288,
   'name': 'Woody Schultz',
   'order': 26},
  {'cast_id': 48,
   'character': 'Horse Clan Leader',
   'credit_id': '52fe48009251416c750aca97',
   'gender': 2,
   'id': 68278,
   'name': 'Peter Mensah',
   'order': 27},
  {'cast_id': 49,
   'character': 'Link Room Tech',
   'credit_id': '52fe48009251416c750aca9b',
   'gender': 0,
   'id': 1207247,
   'name': 'Sonia Yee',
   'order': 28},
  {'cast_id': 50,
   'character': 'Basketball Avatar / Troupe',
   'credit_id': '52fe48009251416c750aca9f',
   'gender': 1,
   'id': 1207248,
   'name': 'Jahnel Curfman',
   'order': 29},
  {'cast_id': 51,
   'character': 'Basketball Avatar',
   'credit_id': '52fe48009251416c750acaa3',
   'gender': 0,
   'id': 89714,
   'name': 'Ilram Choi',
   'order': 30},
  {'cast_id': 52,
   'character': "Na'vi Child",
   'credit_id': '52fe48009251416c750acaa7',
   'gender': 0,
   'id': 1207249,
   'name': 'Kyla Warren',
   'order': 31},
  {'cast_id': 53,
   'character': 'Troupe',
   'credit_id': '52fe48009251416c750acaab',
   'gender': 0,
   'id': 1207250,
   'name': 'Lisa Roumain',
   'order': 32},
  {'cast_id': 54,
   'character': 'Troupe',
   'credit_id': '52fe48009251416c750acaaf',
   'gender': 1,
   'id': 83105,
   'name': 'Debra Wilson',
   'order': 33},
  {'cast_id': 57,
   'character': 'Troupe',
   'credit_id': '52fe48009251416c750acabb',
   'gender': 0,
   'id': 1207253,
   'name': 'Chris Mala',
   'order': 34},
  {'cast_id': 55,
   'character': 'Troupe',
   'credit_id': '52fe48009251416c750acab3',
   'gender': 0,
   'id': 1207251,
   'name': 'Taylor Kibby',
   'order': 35},
  {'cast_id': 56,
   'character': 'Troupe',
   'credit_id': '52fe48009251416c750acab7',
   'gender': 0,
   'id': 1207252,
   'name': 'Jodie Landau',
   'order': 36},
  {'cast_id': 58,
   'character': 'Troupe',
   'credit_id': '52fe48009251416c750acabf',
   'gender': 0,
   'id': 1207254,
   'name': 'Julie Lamm',
   'order': 37},
  {'cast_id': 59,
   'character': 'Troupe',
   'credit_id': '52fe48009251416c750acac3',
   'gender': 0,
   'id': 1207257,
   'name': 'Cullen B. Madden',
   'order': 38},
  {'cast_id': 60,
   'character': 'Troupe',
   'credit_id': '52fe48009251416c750acac7',
   'gender': 0,
   'id': 1207259,
   'name': 'Joseph Brady Madden',
   'order': 39},
  {'cast_id': 61,
   'character': 'Troupe',
   'credit_id': '52fe48009251416c750acacb',
   'gender': 0,
   'id': 1207262,
   'name': 'Frankie Torres',
   'order': 40},
  {'cast_id': 62,
   'character': 'Troupe',
   'credit_id': '52fe48009251416c750acacf',
   'gender': 1,
   'id': 1158600,
   'name': 'Austin Wilson',
   'order': 41},
  {'cast_id': 63,
   'character': 'Troupe',
   'credit_id': '52fe48019251416c750acad3',
   'gender': 1,
   'id': 983705,
   'name': 'Sara Wilson',
   'order': 42},
  {'cast_id': 64,
   'character': 'Troupe',
   'credit_id': '52fe48019251416c750acad7',
   'gender': 0,
   'id': 1207263,
   'name': 'Tamica Washington-Miller',
   'order': 43},
  {'cast_id': 65,
   'character': 'Op Center Staff',
   'credit_id': '52fe48019251416c750acadb',
   'gender': 1,
   'id': 1145098,
   'name': 'Lucy Briant',
   'order': 44},
  {'cast_id': 66,
   'character': 'Op Center Staff',
   'credit_id': '52fe48019251416c750acadf',
   'gender': 2,
   'id': 33305,
   'name': 'Nathan Meister',
   'order': 45},
  {'cast_id': 67,
   'character': 'Op Center Staff',
   'credit_id': '52fe48019251416c750acae3',
   'gender': 0,
   'id': 1207264,
   'name': 'Gerry Blair',
   'order': 46},
  {'cast_id': 68,
   'character': 'Op Center Staff',
   'credit_id': '52fe48019251416c750acae7',
   'gender': 2,
   'id': 33311,
   'name': 'Matthew Chamberlain',
   'order': 47},
  {'cast_id': 69,
   'character': 'Op Center Staff',
   'credit_id': '52fe48019251416c750acaeb',
   'gender': 0,
   'id': 1207265,
   'name': 'Paul Yates',
   'order': 48},
  {'cast_id': 70,
   'character': 'Op Center Duty Officer',
   'credit_id': '52fe48019251416c750acaef',
   'gender': 0,
   'id': 1207266,
   'name': 'Wray Wilson',
   'order': 49},
  {'cast_id': 71,
   'character': 'Op Center Staff',
   'credit_id': '52fe48019251416c750acaf3',
   'gender': 2,
   'id': 54492,
   'name': 'James Gaylyn',
   'order': 50},
  {'cast_id': 72,
   'character': 'Dancer',
   'credit_id': '52fe48019251416c750acaf7',
   'gender': 0,
   'id': 1207267,
   'name': 'Melvin Leno Clark III',
   'order': 51},
  {'cast_id': 73,
   'character': 'Dancer',
   'credit_id': '52fe48019251416c750acafb',
   'gender': 0,
   'id': 1207268,
   'name': 'Carvon Futrell',
   'order': 52},
  {'cast_id': 74,
   'character': 'Dancer',
   'credit_id': '52fe48019251416c750acaff',
   'gender': 0,
   'id': 1207269,
   'name': 'Brandon Jelkes',
   'order': 53},
  {'cast_id': 75,
   'character': 'Dancer',
   'credit_id': '52fe48019251416c750acb03',
   'gender': 0,
   'id': 1207270,
   'name': 'Micah Moch',
   'order': 54},
  {'cast_id': 76,
   'character': 'Dancer',
   'credit_id': '52fe48019251416c750acb07',
   'gender': 0,
   'id': 1207271,
   'name': 'Hanniyah Muhammad',
   'order': 55},
  {'cast_id': 77,
   'character': 'Dancer',
   'credit_id': '52fe48019251416c750acb0b',
   'gender': 0,
   'id': 1207272,
   'name': 'Christopher Nolen',
   'order': 56},
  {'cast_id': 78,
   'character': 'Dancer',
   'credit_id': '52fe48019251416c750acb0f',
   'gender': 0,
   'id': 1207273,
   'name': 'Christa Oliver',
   'order': 57},
  {'cast_id': 79,
   'character': 'Dancer',
   'credit_id': '52fe48019251416c750acb13',
   'gender': 0,
   'id': 1207274,
   'name': 'April Marie Thomas',
   'order': 58},
  {'cast_id': 80,
   'character': 'Dancer',
   'credit_id': '52fe48019251416c750acb17',
   'gender': 0,
   'id': 1207275,
   'name': 'Bravita A. Threatt',
   'order': 59},
  {'cast_id': 81,
   'character': 'Mining Chief (uncredited)',
   'credit_id': '52fe48019251416c750acb1b',
   'gender': 0,
   'id': 1207276,
   'name': 'Colin Bleasdale',
   'order': 60},
  {'cast_id': 82,
   'character': 'Veteran Miner (uncredited)',
   'credit_id': '52fe48019251416c750acb1f',
   'gender': 0,
   'id': 107969,
   'name': 'Mike Bodnar',
   'order': 61},
  {'cast_id': 83,
   'character': 'Richard (uncredited)',
   'credit_id': '52fe48019251416c750acb23',
   'gender': 0,
   'id': 1207278,
   'name': 'Matt Clayton',
   'order': 62},
  {'cast_id': 84,
   'character': "Nav'i (uncredited)",
   'credit_id': '52fe48019251416c750acb27',
   'gender': 1,
   'id': 147898,
   'name': 'Nicole Dionne',
   'order': 63},
  {'cast_id': 85,
   'character': 'Trooper (uncredited)',
   'credit_id': '52fe48019251416c750acb2b',
   'gender': 0,
   'id': 1207280,
   'name': 'Jamie Harrison',
   'order': 64},
  {'cast_id': 86,
   'character': 'Trooper (uncredited)',
   'credit_id': '52fe48019251416c750acb2f',
   'gender': 0,
   'id': 1207281,
   'name': 'Allan Henry',
   'order': 65},
  {'cast_id': 87,
   'character': 'Ground Technician (uncredited)',
   'credit_id': '52fe48019251416c750acb33',
   'gender': 2,
   'id': 1207282,
   'name': 'Anthony Ingruber',
   'order': 66},
  {'cast_id': 88,
   'character': 'Flight Crew Mechanic (uncredited)',
   'credit_id': '52fe48019251416c750acb37',
   'gender': 0,
   'id': 1207283,
   'name': 'Ashley Jeffery',
   'order': 67},
  {'cast_id': 14,
   'character': 'Samson Pilot',
   'credit_id': '52fe48009251416c750ac9f9',
   'gender': 0,
   'id': 98216,
   'name': 'Dean Knowsley',
   'order': 68},
  {'cast_id': 89,
   'character': 'Trooper (uncredited)',
   'credit_id': '52fe48019251416c750acb3b',
   'gender': 0,
   'id': 1201399,
   'name': 'Joseph Mika-Hunt',
   'order': 69},
  {'cast_id': 90,
   'character': 'Banshee (uncredited)',
   'credit_id': '52fe48019251416c750acb3f',
   'gender': 0,
   'id': 236696,
   'name': 'Terry Notary',
   'order': 70},
  {'cast_id': 91,
   'character': 'Soldier (uncredited)',
   'credit_id': '52fe48019251416c750acb43',
   'gender': 0,
   'id': 1207287,
   'name': 'Kai Pantano',
   'order': 71},
  {'cast_id': 92,
   'character': 'Blast Technician (uncredited)',
   'credit_id': '52fe48019251416c750acb47',
   'gender': 0,
   'id': 1207288,
   'name': 'Logan Pithyou',
   'order': 72},
  {'cast_id': 93,
   'character': 'Vindum Raah (uncredited)',
   'credit_id': '52fe48019251416c750acb4b',
   'gender': 0,
   'id': 1207289,
   'name': 'Stuart Pollock',
   'order': 73},
  {'cast_id': 94,
   'character': 'Hero (uncredited)',
   'credit_id': '52fe48019251416c750acb4f',
   'gender': 0,
   'id': 584868,
   'name': 'Raja',
   'order': 74},
  {'cast_id': 95,
   'character': 'Ops Centreworker (uncredited)',
   'credit_id': '52fe48019251416c750acb53',
   'gender': 0,
   'id': 1207290,
   'name': 'Gareth Ruck',
   'order': 75},
  {'cast_id': 96,
   'character': 'Engineer (uncredited)',
   'credit_id': '52fe48019251416c750acb57',
   'gender': 0,
   'id': 1062463,
   'name': 'Rhian Sheehan',
   'order': 76},
  {'cast_id': 97,
   'character': "Col. Quaritch's Mech Suit (uncredited)",
   'credit_id': '52fe48019251416c750acb5b',
   'gender': 0,
   'id': 60656,
   'name': 'T. J. Storm',
   'order': 77},
  {'cast_id': 98,
   'character': 'Female Marine (uncredited)',
   'credit_id': '52fe48019251416c750acb5f',
   'gender': 0,
   'id': 1207291,
   'name': 'Jodie Taylor',
   'order': 78},
  {'cast_id': 99,
   'character': 'Ikran Clan Leader (uncredited)',
   'credit_id': '52fe48019251416c750acb63',
   'gender': 1,
   'id': 1186027,
   'name': 'Alicia Vela-Bailey',
   'order': 79},
  {'cast_id': 100,
   'character': 'Geologist (uncredited)',
   'credit_id': '52fe48019251416c750acb67',
   'gender': 0,
   'id': 1207292,
   'name': 'Richard Whiteside',
   'order': 80},
  {'cast_id': 101,
   'character': "Na'vi (uncredited)",
   'credit_id': '52fe48019251416c750acb6b',
   'gender': 0,
   'id': 103259,
   'name': 'Nikie Zambo',
   'order': 81},
  {'cast_id': 102,
   'character': 'Ambient Room Tech / Troupe',
   'credit_id': '52fe48019251416c750acb6f',
   'gender': 1,
   'id': 42286,
   'name': 'Julene Renee',
   'order': 82}],
 [{'cast_id': 4,
   'character': 'Captain Jack Sparrow',
   'credit_id': '52fe4232c3a36847f800b50d',
   'gender': 2,
   'id': 85,
   'name': 'Johnny Depp',
   'order': 0},
  {'cast_id': 5,
   'character': 'Will Turner',
   'credit_id': '52fe4232c3a36847f800b511',
   'gender': 2,
   'id': 114,
   'name': 'Orlando Bloom',
   'order': 1},
  {'cast_id': 6,
   'character': 'Elizabeth Swann',
   'credit_id': '52fe4232c3a36847f800b515',
   'gender': 1,
   'id': 116,
   'name': 'Keira Knightley',
   'order': 2},
  {'cast_id': 12,
   'character': 'William "Bootstrap Bill" Turner',
   'credit_id': '52fe4232c3a36847f800b52d',
   'gender': 2,
   'id': 1640,
   'name': 'Stellan Skarsgård',
   'order': 3},
  {'cast_id': 10,
   'character': 'Captain Sao Feng',
   'credit_id': '52fe4232c3a36847f800b525',
   'gender': 2,
   'id': 1619,
   'name': 'Chow Yun-fat',
   'order': 4},
  {'cast_id': 9,
   'character': 'Captain Davy Jones',
   'credit_id': '52fe4232c3a36847f800b521',
   'gender': 2,
   'id': 2440,
   'name': 'Bill Nighy',
   'order': 5},
  {'cast_id': 7,
   'character': 'Captain Hector Barbossa',
   'credit_id': '52fe4232c3a36847f800b519',
   'gender': 2,
   'id': 118,
   'name': 'Geoffrey Rush',
   'order': 6},
  {'cast_id': 14,
   'character': 'Admiral James Norrington',
   'credit_id': '52fe4232c3a36847f800b535',
   'gender': 2,
   'id': 1709,
   'name': 'Jack Davenport',
   'order': 7},
  {'cast_id': 13,
   'character': 'Joshamee Gibbs',
   'credit_id': '52fe4232c3a36847f800b531',
   'gender': 2,
   'id': 2449,
   'name': 'Kevin McNally',
   'order': 8},
  {'cast_id': 11,
   'character': 'Lord Cutler Beckett',
   'credit_id': '52fe4232c3a36847f800b529',
   'gender': 2,
   'id': 2441,
   'name': 'Tom Hollander',
   'order': 9},
  {'cast_id': 19,
   'character': 'Tia Dalma',
   'credit_id': '52fe4232c3a36847f800b549',
   'gender': 1,
   'id': 2038,
   'name': 'Naomie Harris',
   'order': 10},
  {'cast_id': 8,
   'character': 'Governor Weatherby Swann',
   'credit_id': '52fe4232c3a36847f800b51d',
   'gender': 2,
   'id': 378,
   'name': 'Jonathan Pryce',
   'order': 11},
  {'cast_id': 37,
   'character': 'Captain Teague Sparrow',
   'credit_id': '52fe4232c3a36847f800b5b3',
   'gender': 2,
   'id': 1430,
   'name': 'Keith Richards',
   'order': 12},
  {'cast_id': 16,
   'character': 'Pintel',
   'credit_id': '52fe4232c3a36847f800b53d',
   'gender': 2,
   'id': 1710,
   'name': 'Lee Arenberg',
   'order': 13},
  {'cast_id': 15,
   'character': 'Ragetti',
   'credit_id': '52fe4232c3a36847f800b539',
   'gender': 2,
   'id': 1711,
   'name': 'Mackenzie Crook',
   'order': 14},
  {'cast_id': 18,
   'character': 'Lieutenant Theodore Groves',
   'credit_id': '52fe4232c3a36847f800b545',
   'gender': 2,
   'id': 4031,
   'name': 'Greg Ellis',
   'order': 15},
  {'cast_id': 55,
   'character': 'Cotton',
   'credit_id': '57e28d2ec3a3681a01005b5c',
   'gender': 2,
   'id': 1715,
   'name': 'David Bailie',
   'order': 16},
  {'cast_id': 17,
   'character': 'Marty',
   'credit_id': '52fe4232c3a36847f800b541',
   'gender': 2,
   'id': 4030,
   'name': 'Martin Klebba',
   'order': 17},
  {'cast_id': 57,
   'character': 'Ian Mercer',
   'credit_id': '57e28d78c3a36808b900bf4f',
   'gender': 0,
   'id': 939,
   'name': 'David Schofield',
   'order': 18},
  {'cast_id': 62,
   'character': 'Scarlett',
   'credit_id': '57e28ec5c3a3681a50005855',
   'gender': 1,
   'id': 2450,
   'name': 'Lauren Maher',
   'order': 19},
  {'cast_id': 63,
   'character': 'Giselle',
   'credit_id': '57e28ed692514123f5005635',
   'gender': 1,
   'id': 2452,
   'name': 'Vanessa Branch',
   'order': 20},
  {'cast_id': 60,
   'character': 'Mullroy',
   'credit_id': '57e28db2c3a3681a01005bc7',
   'gender': 2,
   'id': 1714,
   'name': 'Angus Barnett',
   'order': 21},
  {'cast_id': 59,
   'character': 'Murtogg',
   'credit_id': '57e28da192514118f7006008',
   'gender': 0,
   'id': 1713,
   'name': 'Giles New',
   'order': 22},
  {'cast_id': 58,
   'character': 'Tai Huang',
   'credit_id': '57e28d8ec3a3681a01005bab',
   'gender': 2,
   'id': 22075,
   'name': 'Reggie Lee',
   'order': 23},
  {'cast_id': 64,
   'character': 'Henry Turner',
   'credit_id': '57e29119925141151100a6cc',
   'gender': 2,
   'id': 61259,
   'name': 'Dominic Scott Kay',
   'order': 24},
  {'cast_id': 39,
   'character': 'Mistress Ching',
   'credit_id': '52fe4232c3a36847f800b5bd',
   'gender': 1,
   'id': 33500,
   'name': 'Takayo Fischer',
   'order': 25},
  {'cast_id': 40,
   'character': 'Lieutenant Greitzer',
   'credit_id': '52fe4232c3a36847f800b5c1',
   'gender': 2,
   'id': 1224149,
   'name': 'David Meunier',
   'order': 26},
  {'cast_id': 49,
   'character': 'Hadras',
   'credit_id': '56d1871c92514174680010cf',
   'gender': 2,
   'id': 429401,
   'name': 'Ho-Kwan Tse',
   'order': 27},
  {'cast_id': 56,
   'character': 'Clacker',
   'credit_id': '57e28d4b92514125710055cb',
   'gender': 0,
   'id': 1123,
   'name': 'Andy Beckwith',
   'order': 28},
  {'cast_id': 51,
   'character': 'Penrod',
   'credit_id': '56ec8c14c3a3682260003c53',
   'gender': 2,
   'id': 1056117,
   'name': 'Peter Donald Badalamenti II',
   'order': 29},
  {'cast_id': 61,
   'character': "Cotton's Parrot (voice)",
   'credit_id': '57e28dcc9251412463005678',
   'gender': 2,
   'id': 21700,
   'name': 'Christopher S. Capp',
   'order': 30},
  {'cast_id': 65,
   'character': 'Captain Teague',

#### step 3 : Create empty list to collect movieid¶

In [38]:
movieid_cast_list = []

#### step 4 : Here, we are using built-in function enumerate which adds a counter to cast_column_list and returns enumerat object.This enumerate object is used directly in for loop which returns a list of movieid's

In [39]:
for i,x in enumerate(cast_column_list):
    for y in x:
        movieid_cast_list.append(movies_df['id'][i])

#### Below I am displaying 5 records in movieid_genre_list

In [40]:
movieid_cast_list[:5]

[19995, 19995, 19995, 19995, 19995]

#### step 5 : Creating list for all the elements in cast column

In [41]:
castid_list = []
character_list = []
creditid_list = []
gender_list = []
id_list = []
name_list = []
order_list = []

#### step 6 : Using for loop to append all the items respectively

In [42]:
for x in cast_column_list:
    for y in x:
        castid_list.append(y['cast_id'])
        character_list.append(y['character'])
        creditid_list.append(y['credit_id'])
        gender_list.append(y['gender'])
        id_list.append(y['id'])
        name_list.append(y['name'])
        order_list.append(y['order'])

#### Displaying 5 records in genre_list

In [43]:
len(castid_list)

106257

In [44]:
len(character_list)

106257

In [45]:
len(creditid_list)

106257

In [46]:
len(gender_list)

106257

In [47]:
len(id_list)

106257

In [48]:
len(name_list)

106257

In [49]:
len(order_list)

106257

#### step 6 : Creating dataframe using pandas library which contains movie_id, genre_id and genre

In [50]:
df = pd.DataFrame()

In [51]:
df['Cast_ID'] = castid_list

In [52]:
df['Character'] = character_list

In [53]:
df['Credit_ID'] = creditid_list

In [54]:
df['Gender'] = gender_list

In [55]:
df['ID'] = id_list

In [56]:
df['Name'] = name_list

In [57]:
df['Order'] = order_list

In [58]:
df['MovieID'] = movieid_cast_list

In [59]:
df.head()

,Cast_ID,Character,Credit_ID,Gender,ID,Name,Order,MovieID
0,242,Jake Sully,5602a8a7c3a3685532001c9a,2,65731,Sam Worthington,0,19995
1,3,Neytiri,52fe48009251416c750ac9cb,1,8691,Zoe Saldana,1,19995
2,25,Dr. Grace Augustine,52fe48009251416c750aca39,1,10205,Sigourney Weaver,2,19995
3,4,Col. Quaritch,52fe48009251416c750ac9cf,2,32747,Stephen Lang,3,19995
4,5,Trudy Chacon,52fe48009251416c750ac9d3,1,17647,Michelle Rodriguez,4,19995

### Final CAST and MOVIES dataframe:

In [60]:
cast_df = pd.DataFrame(movieid_cast_list, columns=['Movie_ID'])
cast_df['ID'] = pd.Series(castid_list)
cast_df['Character'] = pd.Series(character_list)
cast_df['Actor'] = pd.Series(name_list)

#### Displaying output

In [61]:
cast_df.head()

   Movie_ID   ID            Character               Actor
0     19995  242           Jake Sully     Sam Worthington
1     19995    3              Neytiri         Zoe Saldana
2     19995   25  Dr. Grace Augustine    Sigourney Weaver
3     19995    4        Col. Quaritch        Stephen Lang
4     19995    5         Trudy Chacon  Michelle Rodriguez

#### step 1 : Create a empty list. Below I have created empty list to collect countries data into "countries_column_list"

In [62]:
countries_column_list =[]

#### step 2 : Appending production_countries json data into python list "countries_column_list". Using json.loads() method to parse data

In [63]:
for each in movies_df['production_countries']:
    countries_column_list.append(json.loads(each))

#### Checking result in genre_column_list by displaying 5 records

In [64]:
countries_column_list[:5]

[[{'iso_3166_1': 'US', 'name': 'United States of America'},
  {'iso_3166_1': 'GB', 'name': 'United Kingdom'}],
 [{'iso_3166_1': 'US', 'name': 'United States of America'}],
 [{'iso_3166_1': 'GB', 'name': 'United Kingdom'},
  {'iso_3166_1': 'US', 'name': 'United States of America'}],
 [{'iso_3166_1': 'US', 'name': 'United States of America'}],
 [{'iso_3166_1': 'US', 'name': 'United States of America'}]]

#### step 3 : Create empty list to collect movieid

In [65]:
movieid_countries_list = []

#### step 4 : Here, we are using built-in function enumerate which adds a counter to countries_column_list and returns enumerat object.This enumerate object is used directly in for loop which returns a list of movieid's

In [66]:
for i,x in enumerate(countries_column_list):
    for y in x:
        movieid_countries_list.append(movies_df['id'][i])

#### Below I am displaying 5 records in movieid_genre_list

In [67]:
movieid_countries_list[:5]

[19995, 19995, 285, 206647, 206647]

#### step 5 : Creating list to collect countries_name_list

In [68]:
countries_name_list=[]

#### step 6 : Using for loop to append name in name list respectively

In [69]:
for x in countries_column_list:
    for y in x:
        countries_name_list.append(y['name'])

#### Displaying 5 records in genre_list

In [70]:
countries_name_list[:5]

['United States of America',
 'United Kingdom',
 'United States of America',
 'United Kingdom',
 'United States of America']

#### step 6 : Creating dataframe using pandas to display movie and location in which movie is shooted

In [71]:
countries_df = pd.DataFrame(countries_name_list, columns=['Shoot_Location'])

In [72]:
countries_df['Movie_ID'] = pd.Series(movieid_countries_list)

In [73]:
countries_df = countries_df[['Movie_ID', 'Shoot_Location']]

In [74]:
countries_df.head()

   Movie_ID            Shoot_Location
0     19995  United States of America
1     19995            United Kingdom
2       285  United States of America
3    206647            United Kingdom
4    206647  United States of America

#### Collecting movies which are having vote avergae greater than 7

In [75]:
movieid_abv_7 = movies_df[movies_df['vote_average'] >= 7]['id']

In [76]:
movieid_abv_7 = list(movieid_abv_7)

In [77]:
movieid_abv_7[:5]

[19995, 49026, 38757, 99861, 767]

#### Checking for actors having vote_average greater than 7

In [78]:
actors_abv_7 = []

In [79]:
for i, x in enumerate(cast_df['Movie_ID']):
    if x in movieid_abv_7:
        actors_abv_7.append(cast_df['Actor'][i])

In [80]:
actors_abv_7 = list(set(actors_abv_7))

In [81]:
indices = [55,122,116,117,118]

In [82]:
for i in sorted(indices, reverse=True):
    del actors_abv_7[i]

In [83]:
len(actors_abv_7)

21707

### License

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

MIT License https://opensource.org/licenses/MIT